.page .panel-content .entry-title {
    display: none;
}

body.page:not(.twentyseventeen-front-page) .entry-title {
    display: none;
}

.site-navigation-fixed.navigation-top {
    position: static;
}

body:not(.portfolio_main) .site-branding {
    display: none;
}

.wrap {
    max-width: 100%;
}

.page.page-one-column:not(.twentyseventeen-front-page) #primary {
    max-width: 100%;
}

.navigation-top {
    border: none;
}

.widget a,
.site-footer .widget-area a {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}

.widget a,
.site-footer .widget-area a img {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}

.site-footer .widget-area {
    padding: 0em;
}

div.wpforms-container-full {
    margin: 0;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    font-weight: 100;
    letter-spacing: 2px !important;
    text-transform: uppercase;
}

div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form textarea {
    background: #fafafa;
    font-size: 16px;
    font-weight: 300;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
    color: #ffff;
    background-color: #272727;
    font-weight: 300;
    text-transform: uppercase;
    min-width: 150px;
}