/* styles for browsers larger than 20em; */
@media screen and (max-width: 320px) {

    .custom-logo-link img {
        display: none;
    }

    body:not(.title-tagline-hidden) .site-branding-text {
        text-align: center;
    }

    .js .menu-toggle {
        outline: none;
    }

    :not(.mejs-button)>button:hover,
    :not(.mejs-button)>button:focus {
        background: none;
        outline: none;
    }

    body.about-content .entry-content p {
        text-align: center;
    }

    body.contact-content .entry-content .wp-block-quote__insta {
        color: #733938;
        font-weight: 300;
    }
}

/* styles for browsers larger than 30em; */
@media screen and (max-width: 576px) {
    .page-one-column .panel-content .wrap {
        max-width: 100%;
    }

    body:not(.portfolio_main) .site-branding {
        display: none;
    }



    body.about-content .entry-content {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: center;
    }

    .site-branding {
        text-align: center;
    }

    body.contact-content .entry-content .wp-block-quote__insta {
        color: #733938;
        font-weight: 300;
    }

}

/* styles for browsers larger than 48em; */
@media screen and (max-width: 768px) {
    #masthead .wrap {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .js .menu-toggle {
        font-weight: 300;
    }

    .main-navigation>div>ul {
        border-top: none;

        li {
            border-bottom: none;
        }
    }

    .js body.about-content,
    .contact-content .menu-toggle {
        margin-top: 25px;
    }

    body.contact-content .entry-content {
        display: block;
    }

    body.contact-content .entry-content>div.wpforms-container-full {
        width: 100%;
        margin-bottom: 30px;
    }

    body.contact-content .entry-content .wp-block-quote__insta {
        color: #733938;
        font-weight: 300;
    }
}