/* styles for browsers larger than 20em; */
@media screen and (max-width: 320px) {

    .custom-logo-link img {
        display: none;
    }

    body:not(.title-tagline-hidden) .site-branding-text {
        text-align: center;
    }

    .js .menu-toggle {
        outline: none;
    }

    :not(.mejs-button)>button:hover,
    :not(.mejs-button)>button:focus {
        background: none;
        outline: none;
    }

    body.about-content .entry-content p {
        text-align: center;
    }

    .wp-image-93 {
        display: none;
    }
}

/* styles for browsers larger than 30em; */
@media screen and (max-width: 576px) {
    .page-one-column .panel-content .wrap {
        max-width: 100%;
    }

    body:not(.portfolio_main) .site-branding {
        display: none;
    }



    body.about-content .entry-content {
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: center;
    }

    .site-branding {
        text-align: center;
    }

    .wp-image-93 {
        display: none;
    }

}

/* styles for browsers larger than 48em; */
@media screen and (max-width: 768px) {

}